*{
	padding: 0;
	margin: 0;
}
body{
	background-image: url('../img/back.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
/*-----------------------------------------------------Navigation Start------------------------------------------------*/
.Menucontainer{
	background-color: #000;
	padding: 20px;
}
.Menucontainer ul{
	list-style: none;
	text-align: center;
}
.Menucontainer ul li{
	display: inline-flex;
	padding: 15px;
}
.Menucontainer a{
	color: #fff;
	text-decoration: none;
	font-size: 24px;
}
.submenu{
	display: none;
}
.Menucontainer ul li:hover .submenu{
	display: block;
	position: absolute;
	left: 0;
	top: 50px;
	padding: 15px;

}
.Menucontainer ul li:hover{
	background-color: #f00;
	position: relative;
}
.submenu ul{
	background-color: #000;

}
/*-----------------------------------------------------------Navigtio End----------------------------------*/
.row{
	display: flex;
}
.col{
	background-color: rgba(0, 0, 0, 0.4);
	width: 30%;
	margin: 15px;
	padding: 20px;
	color: #fff;
}
.col h2{
	text-align: center;
	text-decoration: underline;
	margin-bottom: 15px;
}
.col p{
	font-size: 20px;
	text-align: justify;
}
.footer{
	background-color: #000;
	padding: 25px;
	text-align: center;
	border-top: 2px solid #fff;

}
.footer span{
	color: #fff;
}
.footer p{
    margin: 15px;
}